body{
  background-color: white;
}

h1{
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  color:white;
  font-size: 60px;
  text-align: center;
  font-weight: bold;
}

header{
  padding: 2px;
  text-align: center;
  background: #0066ff;
}

.login {
  text-align: center;
  margin-top: 50px;
}
form {
  display: inline-block;
}

.form_title {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  color: black;
  font-size: 24px;
  margin-right: 8px;
}

.group_label_input {
  display: flex;
  flex-direction: row;
  align-items: left;
  padding: 10px;
}

.password_input_text{
  margin-left: 6px;
}

.group_label_button {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-left: 115px;
}


/****************** login button ********************/
input[type=submit]{
  padding:9px 60px;
  background:#0066ff;
  border:0 none;
  border-radius: 5px;
  cursor:pointer;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  color: white;
  font-size: 12px;
}

input[type=submit]:hover {
  background-color: gray;
  }

a {
  margin-left: 115px;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-size: 12px;
}

/***************** home page ***********************/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#ffe6e6;
}

nav li {
  float: left;
}

li a {
  display: block;
  color:black;
  text-align: center;
  padding: 14px 16px;
  font-family: "Arial", Gadget, sans-serif;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color:black;
  color:white;
}
